html, body {
  font-family: 'Open Sans', sans-serif;
}
.main {
  background-color: #f9f9f9;
}
.container {
  margin: 0 auto;
  max-width: 1220px;
}
.header {
  background-color: #575757;
}
.header__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header__column {
  display: flex;
  align-items: center;
}
.header-menu__button {
  margin-right: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.info-item__icon {
  max-width: 24px;
}
.info-item__icon-img {
  width: 100%;
  height: auto;
}
.header-logo {
}
.header-logo__img {
  width: 100%;
  max-width: 155px;
  height: auto;
}
.header-links {
  white-space: nowrap;
}
.header-links__link:not(:last-child) {
  margin-right: 30%;
}
.header-links__link {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header-auth__items {
  padding-inline: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
}
.auth-item__link {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
  white-space: nowrap;
}
.auth-item__link .auth-item__icon {
  margin-left: 20px;
}
.auth-item__icon {
  max-width: 24px;
}
.auth-item__icon-img {
  width: 100%;
  height: auto;
}
.login__column {
  margin: 0 auto;
  max-width: 500px;
}
.login__title {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
.login-form {
  margin-bottom: 170px;
}
.login-form__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form__data:first-child {
  margin-bottom: 40px;
}
.login-form__data {
  margin-bottom: 100px;
}
.login-form__label {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.login-form__input {
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 14px;
  color: #000000;
  border: none;
  border-radius: 8px;
}
.login-form__input:focus {
  outline: 1px solid black;
}
.login-form__input::placeholder {
  opacity: 0.4;
}
.login-input__text {
  margin-bottom: 30px;
  font-size: 12px;
  color: #000000;
  opacity: 0.6;
}
.login-input__timer {
  font-size: 12px;
  line-height: 16px;
  color: #0038FF;
  opacity: 0.6;
}
.login-form__button {
  padding: 20px 0;
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #3e3e3e;
  border: none;
  border-radius: 8px;
}
.explanation {
}
.explanation__title {
  margin-bottom: 110px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #000000;
}
.explanation__subtitle {
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
.explanation__info {
  margin-bottom: 20px;
  padding: 30px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.explanation-info__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  opacity: 0.64;
}
.explanation-info__info {
  display: flex;
  align-items: center;
}
.explanation-info__icon {
  margin-right: 30px;
}
.explanation-info__icon-img {
}
.explanation-info__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  color: #000000;
}
.page {
  display: grid;
  grid-template-columns: 1fr 80%;
  grid-gap: 20px;
}
.product-menu {
  margin: 0;
  padding: 20px 25px;
  list-style: none;
  background: #FFFFFF;
  border-radius: 8px;
}
.product-menu__item {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
}
.product-menu__icon {
  margin-right: 30px;
}
.product-menu__submenu {
}
.product-submenu {
  padding: 24px 0 0;
  padding-inline: 0;
  list-style: none;
}
.product-submenu__item:not(:last-child) {
  margin-bottom: 40px;
}
.product-submenu__link {
  display: block;
  font-size: 16px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}
.search-form {
  margin-bottom: 40px; 
}
.search-form__input {
  padding: 21px 40px 21px 20px;
  width: 100%;
  font-size: 20px;
  background: url(/img/icons/search.svg) #FFFFFF center right 20px no-repeat;
  border-radius: 8px;
  border: none;
}
.search-form__input[type="search"]::-webkit-search-cancel-button {
  padding: 0 10px;
}
.search-form__input:focus {
  outline: 1px solid #000;
}
.search-form__input::placeholder {
  color: rgba(0, 0, 0, 0.24);
}
.catalogue__slider {
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}
.catalogue-slider__item {
  line-height: 0;
  border-radius: 8px;
  overflow: hidden;
}
.catalogue-slider__img {
  max-width: 100%;
}
.slider-pagination {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background-color: #4AC2BA;
}
.slider-pagination .swiper-pagination-bullet {
  margin-left: 10px;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  opacity: 1;
}
.catalogue__slider .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
}
.catalogue-category {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 66.666% 1fr;
}
.category-column {
}
.subtitle {
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
}
.catalogue-category__list {
  margin-bottom: 110px;
  padding-inline: 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 20px;
  list-style: none;
}
.catalogue-category__item {
  background: #FFFFFF;
  border-radius: 4px;
}
.catalogue-category__link {
  position: relative;
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  text-align: center;
}
.catalogue-link__image {
  padding-bottom: 60px;
  width: 100%;
  max-width: 150px;
  height: auto;
}
.catalogue-link__text {
  position: absolute;
  left: 70px;
  right: 70px;
  bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.popular-category__slider-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.popular-category__slider {
  overflow: hidden;
}
.swiper-button-prev {
  top: -150px;
  left: -100px;
}
.swiper-button-next {
  top: -150px;
  right: -100px;
}
.swiper-button-next, .swiper-button-prev {
  color: #4AC2BA;
}
.popular-slider__item {
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}
.popular-item__card {
  padding: 15px;
}
.popular-item__link {
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
}
.popular-item__rating {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
.popular-rating__icon {
  margin-right: 7px;
  width: 15px;
  height: 15px;
}
.popular-rating__text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.popular-item__image {
  text-align: center;
}
.popular-item__img {
  width: 100%;
  max-width: 115px;
  height: auto;
}
.populat-item__bottom {
  display: flex;
  justify-content: space-between;
}
.popular-item__text {
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.popular-item__points {
  margin-right: 10px;
  font-weight: 300;
  font-size: 20px;
  color: #4AC2BA;
}
.popular-item__button {
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  line-height: 0;
  background-color: #4AC2BA;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.popular-category__link {
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: #4AC2BA;
}
.breadcrumbs {
  margin-top: 0;
  margin-bottom: 40px;
  padding-inline: 0;
  display: flex;
  list-style: none;
}
.breadcrumbs__item {
  position: relative;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 40px;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 0;
  right: -29px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 0;
  background: url(/img/icons/angle_bracket.png) center / contain no-repeat;
  color: rgba(0, 0, 0, 0.54);
}
.breadcrumbs__link {
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}
.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sorting__menu {
  position: relative;
  display: flex;
  align-items: center;
}
.sorting__select {
  padding: 10px 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
  background-color: transparent;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.sorting__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  width: 20px;
  height: 20px;
  line-height: 0;
  background: url(/img/icons/shevron_selecrt.png) center / contain no-repeat;
  transform: translateY(-50%);
}
.sorting__select::-ms-expand{
    display: none;
}
.sorting__select:focus {
  outline: none;
}
.sorting__type {
  margin-top: 0;
  margin-bottom: 50px;
}
.sorting__button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sorting__button:not(:last-child) {
  margin-right: 20px;
}
.sorting-button__icon {
  width: 100%;
  height: auto;
}
.sorting-button__icon.active {
  color: #4AC2BA;
}
.products {
  margin-bottom: 100px;
}
.product-card {
  margin-bottom: 10px;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
}
.product__image {
}
.product__img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.product__info {
  display: flex;
  flex-direction: column;
}
.product__link {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}
.product__stock {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  color: #4AC2BA;
}
.product__text {
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}
.product__code {
  margin-top: 50px;
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.product__extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product__rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-rating__icon {
  margin-right: 10px;
  line-height: 0;
}
.product-rating__icon-img {
  width: 100%;
  max-width: 24px;
  height: auto;
}
.product-rating__text {
  font-weight: 300;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
}
.product__point {
  font-weight: 300;
  font-size: 36px;
  color: #4AC2BA;
}
.product-point__text {
  font-weight: 300;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.54);
}
.product__button {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  background: #4AC2BA;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.product-button__icon {
  margin-right: 20px;
}
.product-button__icon-img {
  width: 100%;
  max-width: 20px;
  height: auto;
}
.pagination {
  margin: 70px 0;
  padding-inline: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.pagination__item {
  min-width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 14px;
}
.pagination__item.active {
  border: 2px solid #4AC2BA;
}
.pagination__item:not(:last-child) {
  margin-right: 10px;
}
.pagination__link {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  color: #000000;
}
.cart__row {
  display: grid;
  grid-template-columns: 66.666% 1fr;
}
.cart__subtitle {
  margin-bottom: 20px;
}
.cart-counter__counter {
  margin-bottom: 70px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: #4AC2BA;
}
.cart__product-cards {
  margin-bottom: 90px;
}
.cart__product-card {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  background: #FFFFFF;
  border-radius: 8px;
}
.cart__product-image {
  text-align: center;
}
.cart__product-img {
  width: 100%;
  max-width: 185px;
  height: auto;
}
.cart__product-info {
  display: flex;
  flex-direction: column;
}
.cart__product-link {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.4;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}
.cart__product-stock {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 14px;
  color: #4AC2BA;
}
.cart__counter {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.54);
}
.cart-counter__button {
  margin-right: 17px;
  font-size: 26px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cart-counter__button:focus {
  outline: none;
}
.counter {
  margin-right: 17px;
  font-weight: 300;
  font-size: 28px;
  color: #4AC2BA;
}
.cart__point {
  margin-right: 10px;
  font-weight: 300;
  font-size: 28px;
  color: #4AC2BA;
}
.cart__point-text {
  margin-left: 10px;
  font-weight: 300;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.54);
}
.cart__additional {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart__product-button {
  padding: 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.cart__product-button:not(:last-child) {
  margin-bottom: 20px;
}

.cart__buttons {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.cart__button {
  padding: 20px;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 8px;
  cursor: pointer;
}
.cart__clean {
  border: 1px solid rgba(0, 0, 0, 0.24);
}
.cart__checkout {
  margin-bottom: 120px;
  padding: 50px 0 30px;
  background-color: rgba(0, 0, 0, 0.02);
}
.checkout__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.checkout__general {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.checkout-general__point {
  text-align: right;
  color: #4AC2BA;
  opacity: 0.8;
}
.general-point__text {
  margin-left: 6px;
  color: #000000;
}
.general-point__text-curency {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.36);
}
.checkout-general__subtext {
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}
.cart__continue {
  border: 1px solid #4AC2BA;
}
.cart__checkout-button {
  color: #fff;
  background-color: #4AC2BA;
  border: none;
}
.buttons__checkout {
  margin-bottom: 0;
}
.checkout__subtitle {
  margin-bottom: 30px;
}
.cart-form__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.cart-form__text {
  margin-bottom: 30px;
  font-size: 16px;
  color: #000000;
}
.cart-form__disclaimer {
  margin-bottom: 30px;
  display: inline-block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.cart-form__radios {
  margin-bottom: 100px;
}
.cart-form__radio:not(:last-child) {
  margin-bottom: 40px;
}
.cart-form__radio-label {
  position: relative;
  margin-left: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.cart-form__input-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-mark {
  position: absolute;
  top: 0;
  left: -40px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);;
  border-radius: 50%;
}
.cart-form__radio-label:hover .cart-form__input-radio ~ .radio-mark {
  background-color: #ccc;
}
.cart-form__radio-label .cart-form__input-radio:checked ~ .radio-mark {
  background-color: #fff;
  border: 2px solid #4AC2BA;
}
.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}
.cart-form__radio-label .cart-form__input-radio:checked ~ .radio-mark:after {
  display: block;
}
.cart-form__radio-label .radio-mark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4AC2BA;
  transform: translate(-50%, -50%);
}
.cart-form__row {
  margin-bottom: 50px;
}
.cart-form__column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.cart-form__input-text {
  display: flex;
  flex-direction: column;
}
.cart-form__label-title {
  margin-bottom: 15px;
}
.cart-form__input {
  padding: 10px 15px;
  font-size: 14px;
  color: #000000;
  background: #FFFFFF;
  border: none;
  border-radius: 8px;
}
.cart-form__input:focus {
  outline: 1px solid #000;
}
.cart-form__input::placeholder {
  opacity: 0.4;
}
.cart-form__checkbox {
  position: relative;
  margin-bottom: 50px;
}
.cart-form__checkbox-label {
  margin-left: 35px;
  font-size: 16px;
  color: #000000;
}
.cart-form__input-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 3px;
}
.cart-form__checkbox:hover input ~ .checkbox-mark {
  background-color: #ccc;
}
.cart-form__checkbox .cart-form__input-checkbox:checked ~ .checkbox-mark {
  background-color: #4AC2BA;
}
.checkbox-mark:after {
  content: "";
  position: absolute;
  display: none;
}
.cart-form__checkbox .cart-form__input-checkbox:checked ~ .checkbox-mark:after {
  display: block;
}
.cart-form__checkbox .checkbox-mark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cart-form__info {
  margin-bottom: 80px;
  padding: 30px 90px;
  background-color: #F5F5F5;
}
.cart-form__info-title {
  margin-bottom: 30px;
  font-size: 20px;
  color: #000000;
  opacity: 0.56;
}
.cart-info__row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.cart-info__column {
}
.cart-info__subtitle {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  opacity: 0.8;
}
.cart-info__text {
  display: block;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
  color: #000000;
  opacity: 0.64;
}
.pay__form {
}
.pay-form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pay-form__row-wrap {
  margin-bottom: 35px;
  padding: 20px 30px;
  background-color: #fff;
}
.pay-form__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}
.pay-form__image {
  margin-top: 0;
  margin-bottom: 30px;
}
.pay-form__img {
  width: 100%;
  height: auto;
}
.pay-form__input-wrap {
  margin-bottom: 20px;
}
.pay-form__input {
  padding: 10px 15px;
  display: flex;
  width: 100%;
  font-size: 14px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.pay-form__input:focus {
  outline: 2px solid rgba(0, 0, 0, 0.5);
}
.pay-form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.pay-form__button {
  width: 100%;
}
.feedback__subtitle {
  margin-bottom: 50px;
}
.feedback__text {
  margin-bottom: 50px;
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}
.feedback__form {
  margin-bottom: 120px;
}
.feedback__form-input {
  display: flex;
  flex-direction: column;
}
.feedback-input__label {
  margin-bottom: 20px;
  font-size: 20px;
  color: #000000;
}
.feedback-input__input {
  margin-bottom: 50px;
  padding: 17px 15px;
  font-weight: 300;
  font-size: 18px;
  border: none;
  background-color: #fff;
}
.feedback-input__input::placeholder {
  color: rgba(0, 0, 0, 0.32);
}
.feedback-input__input:focus {
  outline: 1px solid #000;
}
.feedback-input__input-textarea {
  resize: none;
}
.feedback-form__button {
  padding: 18px;
  width: 100%;
  color: #FFFFFF;
  background: #4AC2BA;
  border: none;
  border-radius: 15px;
}
.page__product-slider {
  grid-template-columns: 80% 1fr;
}
.product-gallery {
  padding: 45px 35px 90px 90px ;
  background-color: #fff;
}
.product-gallery__row {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-gap: 20px;
}
.product-gallery__sliders-wrap {
  position: relative;
}
.product-gallery__sliders {
  overflow: hidden;
}
.product-gallery__slider-2 {
  margin-bottom: 50px;
}
.product-gallery__slider-1 {
  padding: 10px;
}
.product-gallery__slider-1 .swiper-slide-thumb-active {
  outline: 2px solid rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  overflow: hidden;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product-gallery-button-next {
  top: initial;
  right: -60px;
  bottom: 60px;
}
.product-gallery-button-prev {
  top: initial;
  left: -60px;
  bottom: 60px;
}
.product-gallery__info {
}
.gallery-info__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  color: #000000;
}
.gallery-info__rating {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.gallery-rating__point {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.gallery-rating__icon {
  margin-right: 20px;
  width: 100%;
  max-width: 20px;
  height: auto;
  line-height: 0;
}
.gallery-rating__point-text {
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
}
.gallery-rating__availability {
  font-weight: 300;
  font-size: 20px;
  color: #4AC2BA;
}
.gallery-info__code {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}
.gallery-info__type {
  margin-top: 0;
  margin-bottom: 35px;
}
.gallery-type__text {
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}
.gallery-info__point {
  margin-bottom: 30px;
  font-size: 30px;
  color: #4AC2BA;
}
.gallery-point__text {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
}
.gallery-info__buttons {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.gallery-buttons__cart {
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: #4AC2BA;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.gallery-buttons__counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery-counter__button {
  font-size: 19px;
  color: #000000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.gallery-counter__counter {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #4AC2BA;
}
.gallery-counter__amount {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.gallery-buttons__favorite {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  line-height: 0;
  background: rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.product-tabs {
  
}
.product-tabs__header {
  margin: 0;
  padding-inline: 0;
  padding: 0 120px;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #fff;
}
.product-tabs__header-item {
  padding: 20px 0;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}
.product-tabs__header-item:not(:last-child) {
  margin-right: 60px;
}
.product-tabs__header-item.active {
  color: #4AC2BA;
  border-bottom: 4px solid #4AC2BA;;
}
.product-content {
  margin: 0;
  padding-inline: 0;
  padding: 20px 120px;
  list-style: none;
  background-color: #F5F5F5;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.product-content__text {
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.additional-button-next {
  top: 50%;
  right: -70px;
}
.additional-button-prev {
  top: 50%;
  left: -70px;
}
.contact__column {
  margin: 0 auto;
  max-width: 600px;
}
.contact__subtitle {
  margin-bottom: 40px;
}
.contact__text {
  font-size: 18px;
  color: #000000;
}
.contact__list {
  margin-bottom: 70px;
  padding-inline: 0;
  list-style: none;
}
.contact__item:not(:last-child) {
  margin-bottom: 25px;
}
.contact__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}
.contact__icon {
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 35px;
  height: 35px;
  background-color: #4AC2BA;
  border-radius: 50%;
}
.adress__title {
  font-weight: 500;
  margin-bottom: 25px;
  font-size: 18px;
  color: #000000;
}
.adress__text {
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}
.map {
  border-radius: 8px;
  overflow: hidden;
}
.footer {
  padding: 25px 0;
  background-color: #000;
}
.socials__items {
  margin-bottom: 35px;
  display: flex;
  list-style: none;
  padding-inline: 0;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  line-height: 0;
  background-color: #fff;
  border-radius: 50%;
}
.footer-links {
  display: flex;
  list-style: none;
  padding-inline: 0;
}
.footer-links__item:not(:last-child) {
  margin-right: 100px;
}
.footer-links__link {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-links__logo {
  width: 100%;
  max-width: 140px;
  height: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}